<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
body{
text-align:center;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../home">Sheridan Rec Volleyball</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="../home">Home</a></li>
      <li><a href="../search">Search</a></li>
      <li><a href="../pManagement">Player Management</a></li>
      <li><a href="../tManagement">Team Management</a></li>
      <li><a href="../switch">Swap Players</a></li>
      <li><a href="../move">Move Players</a></li>
    </ul>
  </div>
</nav>

<form action="/searchByName">
Search By Name:<input type="text"  name="name"/>
<input type="submit" value = "Search"/>
</form><br>
<form action="/searchByAge">
Search By Age:<input type="text"  name="age"/>
<input type="submit" value = "Search"/>
</form><br>
<form action="/searchByGender">
Search By Gender: <select name = "gender">
<option value="Male">Male</option>
<option value="FeMale">Female</option></select>
<input type="submit" value = "Search"/>
</form><br>
<form action="/searchByTeam">
Search By Team:<select name="name"><option th:each="t:${teams}"th:value="${t.getName()}"th:text="${t.getName()}"/></select>
<input type="submit" value = "Search"/>
</form><br>
</body>


<table class="table">
	<tr>
		<th>Name</th>
		<th>Age</th>
		<th>Gender</th>
		<th>Phone Number</th>
		<th>Email</th>
	</tr>
	<tr th:each = "p:${players}">
		<td th:text="${p.name}"></td>
		<td th:text="${p.age}"></td>
		<td th:text="${p.gender}"></td>
		<td th:text="${p.phoneNumber}"></td>
		<td th:text="${p.email}"></td>
	</tr>
</table><br>
</html>